body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

section {
    height: 400px;
    padding: 10px 60px;
}

#first,
.footer {
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    color: #F9FAF8;
    margin: 0;
    font-size: 24px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    /* padding: 200; */
}

ul {
    display: flex;
    /* align-items: flex-start; */
    list-style: none;
    margin: 0;
    gap: 16px;
}

#content {
    display: flex;
    gap: 30px;
} 

#left {
    flex: 1 1 auto;
    min-width: 50%;
}

#left h1 {
    font-size: 48px;
}

#left p {
    text-align: justify;
}

#right {
    background: url("https://images.unsplash.com/photo-1589512842653-c7ccbec46027?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
    background-size: cover;
    background-position: center;
    min-width: 50%;
    min-height: 300px;
    flex: 1 1 auto;
    border-radius: 20px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 30px;
    border: 0px;
}

/* image overflows to the right, escapes margin, especially if screen very small */